body {
    font-family: Helvetica, sans-serif;
    color: white;
    background-image:  linear-gradient(rgba(0, 0, 0, 1),rgba(0, 0, 0, 0)) ,url("../images/bg.svg");
    background-color: blue;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
}

/*** FRONT ***/
.front{
  height: 100vh;
  width: 100%;
}
.title{
  text-align: center;
  font-size: 100px;
  margin-top: 100px;
}
/* SOCIAL ICONS */
.social-icons{
  padding: 10px;
  text-align: center;
}
.social-icons a{
  display: inline-block;
}
.social-icons-img{
  padding: 5px ;
  transition: transform 0.5s; /* Animation */
}
.social-icons-img:hover{
  transform: scale(1.5);
}
/**/
/******/
  
/*** MINT-WINDOW ***/
.mint-window{
  height: auto;
  width: 60%;
  min-width: 350px;
  margin: auto;
  margin-top: 10px;
  background-color: rgba(0, 0, 0,0.5);
}
/* Nav Bar */
.menu {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: rgba(0, 0, 0, 0.5);
top: 0;
}
.menu-info {
float: left;
}
.menu-info a {
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}
.menu-item {
float: right;
}
.menu-item a {
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}
.menu-item a:hover:not(.active) {
background-color: rgba(0, 0, 0, 0.9);
}
/**/
.img-container{
  width: 60%;
  height: 500px;
  max-width: 400px;
  min-width: 350px;
  background-color: rgba(0, 0, 0,0.8);
  display: block;
  margin: auto;
  position:relative;
}
.mint-img{
  width: 100%;
  pointer-events: none;
  background-color: black;
  display: block;
  margin: auto;
}
.textPrice{
  float: left;
  margin: 10px;
}
.textSupply{
  float: right;
  margin: 10px;
}
.textInfo{
  margin-top: 30px;
  text-align: center;
  padding: 10px;
}
/* Buttons */
.button {
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 10px 20px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.button1 {
  background-color: black; 
  color: white; 
  border: 2px solid black;
}
.button1:hover {
  background-color: white;
  border: 2px solid white;
  color: black;
}
/**/
/* Info */
.text-window{
  line-height: 1.6;
  width: 100%;
  margin-top: 10px;
  padding-top: 10px;
}
.center{
  text-align: center;
  font-size: 20px;
}
.footer{
  background-color: black;
  height: 150px;
  text-align: center;
  padding: 5px;
}
.links{
  color:white; 
}
/**/
/******/

/*****LOADING*****/
.loader-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color:black ;
  display: flex;
  justify-content: center;
  padding-top: 10%;
  align-items:initial;
  display: inline-block;
  text-align: center;
}
.loader {
  width: 300px;
  height: 300px;
  position: relative;
}
.bg-num{
  position: fixed;
  right: 2%;
  bottom: 1%;
}
.mobile-break { 
  display: none;
}

@media screen and (max-width: 600px) {

.title{
  font-size: 70px;
  margin-top: 50px;
  padding: 10px 10px;
}
.mobile-break { 
  display: inherit;
}

}

